// 분기별 스크린 너비
$L_SCREEN: 1069px;

// 섹션 안 inner의 max_width값
$M_MAX_WIDTH: 692px;
$L_MAX_WIDTH: 980px;

// 색상
$COLOR_DEFAULT: #000;
$COLOR_PRIMARY: #566e84;
$COLOR_SECONDARY: #f00;

// 폰트 굵기
$FONT_THIN: 100;
$FONT_LIGHT: 300;
$FONT_NORMAL: 400;
$FONT_MEDIUM: 500;
$FONT_BOLD: 700;
$FONT_BLACK: 900;